.details {
  border: 1px solid #d4d4d4;
  background: #fff;
  padding: 20px 15px;
  min-height: 400px;
  .rounded(4px);

  .static {
  
    .title {
      font-size: 20px;
      font-weight: normal;
      line-height: 20px;
    }

    .identifier {
      font-size: 11px;
      color: #999;
      margin: 8px 0 20px 0;
    }

    .date {
      float: right;
      color: #999;
      font-size: 11px;
    }

  }

  .property {
    padding: 10px 0;
    border-top: 1px solid #e6e6e6;

    label {
      float: left;
      width: 150px;
    }

    .form-control {
      display: block;
      padding: 6px 12px;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      .box-sizing();
    }

    .form-control:focus {
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }

  }

}
