.items {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}

.item {
  padding: 15px 5px;
  border-top: 1px solid #e3e3e3;
  position: relative;
  cursor: pointer;
  transition: all .3s ease-in;

  .title {
    font-weight: 600;
    color: #111;
    font-size: 12px;
    display: inline-block;
  }

  .tags {
    color: #888;
    font-size: 10px;
    padding-left: 10px;
    display: inline-block;
  }

  .tags:before {
    content: "/";
    padding-right: 10px;
  }

  .status {
    width: 6px;
    height: 6px;
    margin-left: 4px;
    vertical-align: 1px;
    display: inline-block;
    background-color: #e7804f;
    .rounded(100px);
  }

  .status-done {
    background-color: #239169;
  }

  .remove {
    position: absolute;
    top: 11px;
    right: 10px;
    font-size: 20px;
    color: #888;
    transition: all .3s ease-in;
    opacity: 0;
  }

  .remove:hover {
    color: #000;
  }

}

.item:hover .remove {
  opacity: 1;
  right: 20px;
}

.item:first-child {
  border-top: 0;
}

.item.active {
  background: #dfdfdf;
  padding-left: 20px;
}
