body {
  font-family: Arial, sans-serif;
  font-size: 12px;
  background: #f4f4f4;
  color: #333;
}

.sidebar {
  position: fixed;
  width: 240px;
  background-color: #3a4b55;
  top: 0;
  left: 0;
  min-height: 100%;
}

.page-container {
  margin: 20px 10px 20px 250px;
  position: relative;
}

.page-container header {
  padding: 0 15px 20px 15px;
  border-bottom: 1px solid #d4d4d4;
}

.page-title {
  font-size: 20px;
  font-weight: normal;
  line-height: 20px;
}

.page-description {
  font-size: 11px;
  color: #999;
  margin: 8px 0 0;
}

.page-content {
  padding-top: 20px;
  .box-sizing();
}

.col-6 {
  width: 50%;
  float: left;
  padding: 0 15px;
  .box-sizing();
  .clearfix();
}

.widget-title {
  font-size: 14px;
  font-weight: 600;
  color: #111;
  padding-bottom: 10px;
}

.pull-right {
  float: right;
}