<label><%- name %></label>
<select class="form-control">
  <% _.each(options, function(label, key) { %>
    <option value="<%- key %>"<% if (key == value) { %> selected="selected"<% } %>><%- label %></option>
  <% }); %>
</select>
