<div class="actions">
  <input class="add-item" type="text">
  <label class="switch">
    <input type="checkbox" class="switch-input switch-edit">
    <span class="switch-label" data-on="On" data-off="Off"></span>
    <span class="switch-handle"></span>
  </label>
</div>
