<div class="thumb"></div>
<div class="content">
  <div class="title"><%- title %> <span class="status<% if (completed) { %> status-done<% }%>"></span></div>
  <div class="tags"><%- tags %></div>
</div>
<div class="remove">×</div>